---
interface Props extends Omit<astroHTML.JSX.ButtonHTMLAttributes, "class"> {
	class?: string
	outline?: boolean
}
const { class: classList, outline = false, ...attrs } = Astro.props
---

<button
	class:list={[
		"flex items-center gap-2 rounded-md border-2 px-4 py-1 outline-offset-2 outline-secondary-600 hover:shadow hover:shadow-secondary-500/50 focus-visible:outline focus-visible:outline-2 dark:outline-secondary-400",
		{ "bg-grayish-800": !outline },
		{ "border-grayish-800": !outline },
		{ "text-grayish-50": !outline },
		{ "hover:bg-secondary-700": !outline },
		{ "hover:border-secondary-700": !outline },
		{ "hover:text-white": !outline },
		{ "dark:bg-grayish-200": !outline },
		{ "dark:border-grayish-200": !outline },
		{ "dark:text-grayish-950": !outline },
		{ "dark:hover:bg-secondary-400": !outline },
		{ "dark:hover:border-secondary-400": !outline },
		{ "dark:hover:text-black": !outline },
		{ "border-grayish-800": outline },
		{ "text-grayish-800": outline },
		{ "hover:border-secondary-600": outline },
		{ "hover:text-secondary-600": outline },
		{ "dark:border-grayish-200": outline },
		{ "dark:text-grayish-200": outline },
		{ "dark:hover:border-secondary-300": outline },
		{ "dark:hover:text-secondary-300": outline },
		classList
	]}
	{...attrs}
>
	<slot />
</button>
