/* baloo-2-regular - latin */
@font-face {
	font-family: "Baloo 2";
	font-style: normal;
	font-weight: 400;
	src:
		local("Baloo2-Regular"),
		url("/fonts/baloo-2-v11-latin-regular.woff2") format("woff2");
	font-display: swap;
}
/* baloo-2-500 - latin */
@font-face {
	font-family: "Baloo 2";
	font-style: normal;
	font-weight: 500;
	src:
		local("Baloo2-Medium"),
		url("/fonts/baloo-2-v11-latin-500.woff2") format("woff2");
	font-display: swap;
}
/* baloo-2-600 - latin */
@font-face {
	font-family: "Baloo 2";
	font-style: normal;
	font-weight: 600;
	src:
		local("Baloo2-SemiBold"),
		url("/fonts/baloo-2-v11-latin-600.woff2") format("woff2");
	font-display: swap;
}
/* baloo-2-700 - latin */
@font-face {
	font-family: "Baloo 2";
	font-style: normal;
	font-weight: 700;
	src:
		local("Baloo2-Bold"),
		url("/fonts/baloo-2-v11-latin-700.woff2") format("woff2");
	font-display: swap;
}
/* baloo-2-800 - latin */
@font-face {
	font-family: "Baloo 2";
	font-style: normal;
	font-weight: 800;
	src:
		local("Baloo2-Bold"),
		url("/fonts/baloo-2-v11-latin-800.woff2") format("woff2");
	font-display: swap;
}
