---
import SvgHexagonOutline from "../../assets/svgs/hexagon-outline.svg"

type Props = {
	id: string
}
const { id } = Astro.props
const hexExpandId = `hexExpand-${id}`
---

<div
	id={hexExpandId}
	data-hex-id={hexExpandId}
	class="hex-container group relative mx-auto mb-8 grid place-items-center"
>
	<h2
		class="motion-safe:group-[.expand]:animate-fadeIn text-center text-2xl font-medium opacity-0 motion-reduce:opacity-100 sm:text-3xl md:text-4xl"
	>
		<slot />
	</h2>

	<div
		class="motion-safe:group-[.expand]:animate-fadeOut pointer-events-none absolute inset-0 w-full motion-reduce:opacity-0"
	>
		<SvgHexagonOutline
			class="stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandL pointer-events-none absolute inset-0 w-full motion-reduce:translate-x-[calc(-50%+16px)]"
	>
		<SvgHexagonOutline
			class="hex-l-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandR pointer-events-none absolute inset-0 w-full motion-reduce:translate-x-[calc(50%-16px)]"
	>
		<SvgHexagonOutline
			class="hex-r-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandTR pointer-events-none absolute inset-0 w-full motion-reduce:translate-x-16 motion-reduce:-translate-y-16 motion-reduce:opacity-0"
	>
		<SvgHexagonOutline
			class="hex-tr-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandBR pointer-events-none absolute inset-0 w-full motion-reduce:translate-x-16 motion-reduce:translate-y-16 motion-reduce:opacity-0"
	>
		<SvgHexagonOutline
			class="hex-br-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandBL pointer-events-none absolute inset-0 w-full motion-reduce:-translate-x-16 motion-reduce:translate-y-16 motion-reduce:opacity-0"
	>
		<SvgHexagonOutline
			class="hex-bl-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
	<div
		class="motion-safe:group-[.expand]:animate-expandTL pointer-events-none absolute inset-0 w-full motion-reduce:-translate-x-16 motion-reduce:-translate-y-16 motion-reduce:opacity-0"
	>
		<SvgHexagonOutline
			class="hex-tl-bracket stroke-primary-600 pointer-events-none absolute inset-0 mx-auto w-16 stroke-[70px]"
			aria-hidden="true"
		/>
	</div>
</div>

<script>
	const hexes = document.querySelectorAll("[data-hex-id]")
	if (hexes && hexes.length > 0) {
		let hexOnScroll

		const hexOptions = {
			threshold: 0,
			rootMargin: "0px 0px -100px 0px"
		}
		hexOnScroll = new IntersectionObserver((entries, hexOnScroll) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					entry.target.classList.add("expand")
					hexOnScroll.unobserve(entry.target)
				}
			})
		}, hexOptions)

		for (const hex of hexes) {
			const hexExpand = document.getElementById(hex.id) as HTMLDivElement
			hexOnScroll.observe(hexExpand)
		}
	}
</script>

<style>
	.hex-container {
		height: calc(64px * 0.8660254);
	}

	.hex-l-bracket {
		stroke-dasharray: 0 2025 450 500;
	}

	.hex-r-bracket {
		stroke-dasharray: 0 525 450 2000;
	}

	.hex-tr-bracket {
		stroke-dasharray: 0 25 450 2500;
	}

	.hex-br-bracket {
		stroke-dasharray: 0 1025 450 1000;
	}

	.hex-bl-bracket {
		stroke-dasharray: 0 1525 450 500;
	}

	.hex-tl-bracket {
		stroke-dasharray: 0 2525 450 0;
	}
</style>
