---
type Props = {
	justify?: string
}
const { justify = "md:text-center" } = Astro.props
---

<h1
	class:list={[
		"text-primary-600 flex items-center gap-1.5 pb-2 text-2xl font-medium before:content-['<'] after:content-['/>'] sm:py-4 sm:text-3xl md:pb-6 md:text-4xl",
		`${justify}`
	]}
>
	<slot />
</h1>
