---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {
	outline?: boolean
}
const { class: classList, outline = false, ...attrs } = Astro.props
---

<a
	class:list={[
		"border-secondary-700 hover:border-secondary-800 hover:shadow-secondary-500/50 focus-visible:outline-primary-600 dark:border-secondary-600 dark:hover:border-secondary-500 dark:hover:shadow-secondary-500/50 dark:focus-visible:outline-primary-500 max-w-fit rounded-sm border-2 px-3 py-1 text-sm font-semibold whitespace-nowrap uppercase no-underline hover:shadow-md focus-visible:outline-2 focus-visible:outline-offset-4 md:px-4 md:py-2 md:text-base",
		{ "bg-secondary-700": !outline },
		{ "text-white": !outline },
		{ "hover:bg-secondary-800": !outline },
		{ "hover:text-white": !outline },
		{ "dark:bg-secondary-600": !outline },
		{ "dark:text-black": !outline },
		{ "dark:hover:bg-secondary-500": !outline },
		{ "dark:hover:text-black": !outline },
		{ "text-secondary-700!": outline },
		{ "hover:no-underline!": outline },
		{ "dark:text-white!": outline },
		{ "dark:outline-secondary-600": outline },
		{ "dark:hover:outline-secondary-500": outline },
		classList
	]}
	{...attrs}
>
	<slot />
</a>
