---
import { getEmoji } from "@utils/emoji"

type Props = Omit<astroHTML.JSX.HTMLAttributes, "class" | "role" | "aria-label" | "aria-hidden"> & {
	codePoint: number | number[] | string | string[]
	class?: string
	label?: string
}

const { codePoint, class: classList, label, ...attrs } = Astro.props

const emoji = getEmoji(codePoint)
---

{
	emoji && (
		<span
			class={classList}
			{...attrs}
			role="img"
			aria-label={label ? label : null}
			aria-hidden={!label ? true : null}>
			{emoji}
		</span>
	)
}
