---
import SvgLogo from "@assets/svgs/logo.svg"
---

<a
	class="focus-visible:outline-primary-600 dark:focus-visible:outline-primary-500 rounded-3xl focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-solid"
	href="/"
	aria-label="Link to home page"
>
	<SvgLogo class="fill-primary-600 w-12 sm:w-16" aria-hidden="true" />
</a>
