<a
	class="rounded-3xl focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-500"
	href="/"
	aria-label="Link to home page">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xml:space="preserve"
		style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
		viewBox="0 0 1080 936"
		class="w-12 sm:w-16"
		aria-hidden="true"
		><path
			id="Hexagon"
			d="m497.347 61.372 371.25 214.341v428.683l-371.25 214.341-371.25-214.341V275.713l371.25-214.341Zm0 73.333L189.605 312.38v355.349l307.742 177.675 307.741-177.675V312.38L497.347 134.705Z"
			class="fill-primary-600"
			transform="rotate(-90 508.42 585.73) scale(1.25967)"></path><path
			id="F"
			d="M1920.47 1479.1h-103.81v187.6l137.32-.05v.72l22.71 39.33-22.71 39.32v.63h-.36l-.03.05-136.93.04v267.65h-80v-615.28h137.63l46.18 79.99Z"
			class="fill-primary-600"
			transform="matrix(1 0 0 1.00002 -1156.66 -1239.13)"></path><path
			id="H"
			d="M1415.23 1837.07v-260.64l80-138.56v228.83h80v-267.6h80v615.29h-80V1746.7h-80v228.93l-80-138.56Z"
			class="fill-primary-600"
			transform="matrix(1 0 0 1.00002 -1155.23 -1239.13)"></path></svg
	>
</a>
