---
interface Props extends Omit<astroHTML.JSX.AnchorHTMLAttributes, "class"> {
	class?: string
}
const { class: classList, ...attrs } = Astro.props
---

<a
	class:list={[
		"whitespace-nowrap rounded-sm text-right text-lg font-bold text-primary-600 no-underline decoration-primary-700 underline-offset-4 hover:text-primary-700 hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-primary-700 aria-[current='page']:underline md:text-xl md:text-primary-600 dark:text-primary-600 dark:decoration-primary-600 dark:hover:text-primary-500 dark:focus-visible:text-primary-500 dark:focus-visible:outline-primary-500",
		classList
	]}
	{...attrs}>
	<slot />
</a>
