---
import Section from "./Section.astro"
import TeamMember from "./TeamMember.astro"
import SvgTeamGrandFromage from "../assets/svgs/team-grand-fromage.svg"
import SvgTeamArtist from "../assets/svgs/team-artist.svg"
import SvgTeamDesigner from "../assets/svgs/team-designer.svg"
import SvgTeamDeveloper from "../assets/svgs/team-developer.svg"
import SvgTeamQA from "../assets/svgs/team-qa.svg"
import SvgTeamSupport from "../assets/svgs/team-support.svg"
---

<Section id="team" heading="Meet the Team">
	<p>
		As a team of one, I am required to wear all the hats. This requires a wider range of skills and
		the ability to see and realize the bigger picture. It's not without its challenges, but that
		makes the results even more rewarding. And yes, I do realize that none of the floating heads
		below are actually wearing hats. Irony.
	</p>
	<div class="mt-16 grid w-full gap-10 md:grid-cols-2 lg:grid-cols-3">
		<TeamMember title="Grand Fromage">
			<SvgTeamGrandFromage
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of a balding man's head with thin beard"
				slot="svg"
			/>" The <a href="https://en.wikipedia.org/wiki/Loonie">Loonie</a> stops here. The whole team answers
			to me and I answer to you. Simple.
		</TeamMember>
		<TeamMember title="Artist">
			<SvgTeamArtist
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of man's head with goatee, messy hair and round glasses"
				slot="svg"
			/>
			After years of using tools from Adobe, I switched to <a
				href="https://affinity.serif.com/designer/">Affinity Designer</a
			>,
			<a href="https://affinity.serif.com/photo/">Photo</a>
			and
			<a href="https://affinity.serif.com/publisher/">Publisher</a>.
		</TeamMember>
		<TeamMember title="Designer">
			<SvgTeamDesigner
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of man's head with a pointy mustache, parted hair and glasses"
				slot="svg"
			/>
			I don't build websites from generic templates. I use <a href="https://www.figma.com/">Figma</a
			> to design your site from scratch.
		</TeamMember>
		<TeamMember title="Developer">
			<SvgTeamDeveloper
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of man's head with beard and messy hair"
				slot="svg"
			/>
			The role where I'm most in my element. Check out the <a href="#experience">experience</a> section
			for my evolution.
		</TeamMember>
		<TeamMember title="Quality Control">
			<SvgTeamQA
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of man's head with beard, no hair and headphones"
				slot="svg"
			/>
			Testing, testing, testing, and the best possible <a
				href="https://developer.chrome.com/docs/lighthouse/overview/">Lighthouse</a
			> scores. Guaranteed.
		</TeamMember>
		<TeamMember title="Customer Support">
			<SvgTeamSupport
				class="text-primary-100 fill-grayish-950 aspect-4/3"
				aria-label="Drawing of man's head with glasses and a top-knot"
				slot="svg"
			/>
			I never have to check with someone and get back to you. I can address all issues directly.
		</TeamMember>
	</div>
</Section>
