---
import { getCollection } from "astro:content"
import Section from "../Section.astro"
import Timeline from "./Timeline.astro"
import TimelineRow from "./TimelineRow.astro"
import TimelineHexagon from "./TimelineHexagon.astro"

const experiences = (await getCollection("experiences")).sort(
	(a, b) => a.data.sortOrder - b.data.sortOrder
)
const rowClasses = [
	"row-start-1",
	"row-start-2",
	"row-start-3",
	"row-start-4",
	"row-start-5",
	"row-start-6",
	"row-start-7",
	"row-start-8",
	"row-start-9",
	"row-start-10"
]
---

<Section id="experience" heading="Experience">
	<p>
		With over 36 years of experience in software, I've done everything from programming mainframes
		to developing Jamstack websites and a whole lot of things in between. The fact that the
		landscape is always changing is part of what makes my work so interesting and challenging.
		There's always something new to learn and a problem to solve. Basically... I love a good puzzle.
		&#x1F9E9;
	</p>
	<div
		class="[&_a]:text-secondary-800 [&_a]:hover:text-secondary-900 [&_a]:hover:decoration-secondary-900 dark:[&_a]:text-secondary-200 dark:[&_a]:hover:text-secondary-100 dark:[&_a]:hover:decoration-secondary-100 relative mt-8 grid grid-cols-[auto_minmax(0,1fr)] px-0 md:mt-16 md:grid-cols-[minmax(0,1fr)_auto_minmax(0,1fr)] lg:px-4 [&_a]:rounded-[50%_50%_50%_50%/85%_85%_15%_15%] [&_a]:underline! [&_a]:underline-offset-2!"
	>
		{
			experiences.map((experience, index) => (
				<TimelineRow {experience} rowClass={rowClasses[index]} />
			))
		}
		<Timeline />
		{experiences.map((_, index) => <TimelineHexagon rowClass={rowClasses[index]} />)}
	</div>
</Section>
