---
type Props = {
	rowClass: string
}
const { rowClass } = Astro.props
---

<div
	class:list={[
		"bg-grayish-50 dark:bg-grayish-950 relative col-start-1 mt-4.5 h-10 py-2 md:col-start-2 md:mt-11",
		rowClass
	]}
>
	<div class="hexagon bg-grayish-200/25 dark:bg-grayish-800/25 absolute h-6"></div>
	<div class="my-timeline-hex hexagon bg-primary-600 h-6"></div>
</div>

<style>
	.my-timeline-hex {
		opacity: 0;
		animation: show-hexagon linear both;
		animation-timeline: view(block);
		animation-range: contain 20% contain 28%;
	}

	@keyframes expand-timeline {
		from {
			transform: scaleY(0);
		}

		to {
			transform: scaleY(1);
		}
	}

	@keyframes show-hexagon {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
</style>
