---
import Heading3 from "@components/heading/Heading3.astro"
import type { CollectionEntry } from "astro:content"
import { render } from "astro:content"

type Props = {
	experience: CollectionEntry<"experiences">
	rowClass: string
}
const { experience, rowClass } = Astro.props

const { Content } = await render(experience)
---

<div
	class:list={[
		"border-grayish-300 p-6 sm:p-12",
		"col-start-2 md:odd:col-start-3 md:even:col-start-1",
		`${rowClass}`
	]}
>
	<Heading3>{experience.data.title}</Heading3>

	<Content />
</div>
