---
import "../styles/fonts.css"
import "../styles/tailwind.css"
import Footer from "@components/Footer.astro"
import Header from "@components/Header.astro"
import BaseHead from "@components/BaseHead.astro"
---

<html lang="en" class="scrollable scroll-smooth">
	<head>
		<BaseHead><slot name="head" slot="head" /></BaseHead>
	</head>
	<body
		id="top"
		class="grid min-h-dvh grid-cols-1 grid-rows-[auto_minmax(0,_1fr)_auto] bg-grayish-50 text-grayish-900 dark:bg-grayish-900 dark:text-grayish-100"
	>
		<header
			class="mx-auto flex w-full max-w-6xl items-center justify-between p-4 sm:px-8 sm:py-6 md:px-16 md:py-8 lg:px-20"
			aria-label="Header"
		>
			<Header />
		</header>
		<slot />
		<footer
			class="mx-auto flex w-full flex-col items-center gap-6 bg-grayish-800 py-6 text-grayish-300"
			aria-label="Footer"
		>
			<Footer />
		</footer>
		<!-- <Toaster /> -->
	</body>
</html>
