---
import BaseLayout from "./BaseLayout.astro"
---

<BaseLayout>
	<slot name="head" slot="head" />
	<main id="content" class="col-[content] pb-4 pt-12 sm:pt-14 md:px-4 md:pt-16 lg:px-8 lg:pt-20">
		<slot />
	</main>
</BaseLayout>
