---
import BaseLayout from "./BaseLayout.astro"
import GoToTop from "@components/GoToTop.astro"
---

<BaseLayout>
	<slot name="head" slot="head" />
	<main class="relative col-[content] py-8 md:px-4 lg:px-8 lg:py-12" aria-label="Main">
		<slot />
		<!-- Go to top button -->
		<GoToTop />
	</main>
</BaseLayout>
