---
import Section from "../Section.astro"

import { getCollection } from "astro:content"
import WorkItem from "./WorkItem.astro"
import WorkItemDialog from "./WorkItemDialog.astro"

const works = await getCollection("work")
---

<Section id="work" heading="Work">
	<p>
		A collection of recent, and sometimes ongoing, work using various technologies. These websites
		demonstrate our expertise in web design, development, and optimization. Whether you need a
		simple landing page or a custom web application, we can help.
	</p>

	<div
		class="my-16 grid w-full auto-rows-fr grid-cols-4 gap-4 sm:grid-cols-7 sm:gap-x-[min(2%,16px)] sm:gap-y-[min(calc(2%*2),calc(16px*2))] md:grid-cols-10 md:gap-y-[min(calc(2%*3),calc(16px*3))] lg:grid-cols-16"
	>
		{works.map((work, index) => <WorkItem {work} style={`--hex-index: ${index + 1};`} />)}
	</div>

	{works.map((work) => <WorkItemDialog {work} />)}
</Section>
